
<style>
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 500px;
    height: 75px
};
</style>
<div data-ng-controller="MainCtrl" ng-app="presidentApp">
<div ng-controller="MainCtrl" ng-model="candidateFilter">
	<center>
    <h1>2016 US candidates spending</h1>

	</center>
    <div >
	<center>
      <button id="candidate" ng-click="candidateReceipts(filteredItems)">Candidate Receipts</button>
      <button ng-click="partySpend(items)">Party Spending</button>
  	</center>

        <div class="row">
          <highchart id="chart1" config="chartConfig" series="chartConfig.series" class="span10" style="height: 600px; width: 800px; margin: 0 auto;" ></highchart>
        </div>
		<center>Total spending 2016 <span>{{allSpend | currency}}</center>
    </div>
  </div>
  <div>
    <h4>Candidates</h4>
      <input class="form-control" type="search" ng-model="candidateFilter" placeholder="filter candidates..." />
      <br>
      <accordion close-others="true" ng-repeat="item in (filteredItems = (items.results | filter:candidateFilter))">
        <accordion-group heading="{{item.candidate_name}}" ng-click="candidateSearch(item.candidate_name)" style="cursor: pointer;" >
			<h3>{{candidate_details}}</h3>

			<p>Latest Contributions<p>

        	<div ng-grid="gridOptions" class="gridStyle"></div>
        </accordion-group>
      </accordion>
  </div>
</div>

<div class="footer">
  <p>
	  Built with ♥ from <a href="http://twitter.com/heri">heri</a></br>
  	<span class="title">Source: <a href="http://developer.nytimes.com/">NYTimes</a> 2015 US Elections API. Graphs with <a herf="http://www.highcharts.com/">Highcharts API</a></span>
		</p>
</div>
